/*
=====================================================
                    Layout Elements
===================================================== */

/* Purple buttons */

.purple {
  background-color: #9b9bca;
}

.purple:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #9b9bca;
  color: #9b9bca;
}

.purple:active {
  background: #9b9bca;
  color: #fff;
}

/* Red buttons */

.red {
  background-color: #fd5540;
}

.red:hover {
  background-color: #ffffff;
  border: 1px solid #e64d3a;
  color: #e64d3a;
}

.red:active {
  background: #fd5540;
  color: #fff;
}

/* Logo */

.logo {
  text-decoration: none;
}

.logo--icon {
  font-family: "Rammetto One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.logo--extended {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #505050;
}

/* Services box */

.services__box {
  width: 260px;
  height: 250px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border: 0;
  border-bottom: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: border-width 0.5s ease-in-out;
}

.services__box:hover {
  border: 1px solid #c4c4c4;
  border-bottom: 5px solid #c4c4c4;
}

.services__box h3 {
  font-size: 22px;
}
.services__box p {
  font-size: 16px;
}

/* Question Box */

.question__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.question {
  color: #402b2b;
  text-align: left;
  width: 550px;
  padding: 30px 20px;
  background: #ffffff;
  border-radius: 23px;
  z-index: 1;
  transition: 0.4s;
  box-shadow: 0px 20px 40px #f5f5ff;
}

.question::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f105";
  float: right;
  margin-left: 5px;
}

.expanded {
  box-shadow: 0px 5px 10px #e0e0e0;
}

.expanded::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f107"; /* Unicode character for "minus" sign (-) */
}

.answer {
  position: relative;
  top: -10px;
  max-width: 510px;
  line-height: 70px;
  padding: 40px 20px;
  overflow: hidden;
  background: #f5f5ff;
  box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
  border-radius: 10px;
  z-index: 0;
  height: auto;
}

/* Features box */

.features__box {
  width: 442px;
  height: 545px;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0px 45px;
  display: flex;
  padding: 30px 0 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.features__box img {
  width: 80%;
  height: auto;
  margin-top: 60px;
}

.features__box h3 {
  margin-top: 50px;
}

.features__box p {
  margin: 0px 30px auto;
}

.features__box button {
  width: 234px;
  height: 60px;
  transform: translateY(50%);
}

.features__box button:hover {
  background-color: #fff !important;
}

/* Slider reviews */

.slide {
  justify-content: space-around;
  width: 488px;
  height: 375px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #d2d2d2;
}

.slide__content {
  justify-content: space-evenly;
  align-items: center;
}

.slide__content p {
  width: 80%;
  text-align: left;
  color: #9d9d9d;
}

.slide__content img {
  width: 56px;
  height: 56px;
  background: #eeeeee;
  border-radius: 50%;
}

.slide__user {
  justify-content: flex-start;
  align-items: center;
}

.slide__user img {
  width: 98px;
  height: 98px;
  background: #ffffff;
  box-shadow: 2px 8px 15px rgba(147, 147, 147, 0.25);
  border-radius: 50%;
  margin: 0 50px 0 15px;
}

.slide__user__info {
  text-align: left;
}

.slide__user__info h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #626780;
}

.slide__user__info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #9d9d9d;
}

.slide__user__info span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #9d9d9d;
}

.slide__user__info i {
  color: #ffce31;
  font-size: 14px;
}
