@media (max-width: 767.98px) {
  body,
  section {
    text-align: center;
  }
  /*
=====================================================
                Landing & Services section
===================================================== */

  .landing {
    height: auto;
    padding-bottom: 0px;
  }

  .landing__nav {
    height: auto;
    padding: 30px 0px;
    justify-content: space-between;
  }

  .logo {
    position: fixed;
    left: 50px;
  }

  .ellipse {
    width: 0;
    height: 0;
    background-color: transparent;
    line-height: normal;
  }

  .logo--extended {
    display: none;
  }

  .landing__nav__links {
    display: none;
  }

  .landing__nav__links li {
    margin: 10px auto;
    text-align: center;
  }

  .landing__nav__toogle {
    display: block;
    position: fixed;
    right: 50px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
  }

  /* Added Class for JS Toogle Menu */
  .landing__nav--mobile {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .landing__content,
  .services__content {
    width: 70%;
    text-align: center;
  }

  .landing__content {
    margin: 70px auto;
    align-items: center;
  }

  .services .containerCenter {
    flex-direction: column;
    flex-wrap: wrap;
  }

  /*
=====================================================
                    People section
===================================================== */

  .people {
    flex-direction: column;
  }

  .people__network {
    width: 100%;
    background-size: contain;
  }

  /*
=====================================================
                    Video section
===================================================== */
  .video__poster,
  video {
    height: 430px;
  }
  #playpause {
    width: 90px;
    height: 90px;
  }

  #playpause i {
    line-height: 90px;
  }

  #controls {
    width: 100vw;
    height: 70px;
  }

  #controls img {
    width: 20px;
    height: 20px;
  }

  #progressBar {
    width: 200px;
  }
  #progress {
    left: -40px;
  }

  .question {
    max-width: 70%;
  }
  .answer {
    max-width: 65%;
  }

  /* Questions section */

  .questions {
    width: 100%;
  }

  .questions .containerCenter {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .questions__title {
    margin: 0;
  }

  .blob {
    margin: 0 auto;
    width: 120%;
    transform: translate(-40px, -870px);
    z-index: -1;
    animation-delay: 0.5s;
  }

  .blob img {
    transform: translate(120px, -420px);
    display: block;
    width: 250px;
    height: 344px;
    z-index: 0;
  }

  .questions__columns__right {
    margin-top: 790px;
    order: 0;
  }

  .questions__columns__left {
    margin-top: -1375px;
    order: 1;
  }

  .questions__button {
    width: 330px;
    height: 70px;
    transform: translate(0px, 100px);
    z-index: 12;
  }

  .question__box,
  .questions__list .question__box {
    margin: 15px auto;
  }

  .question,
  .answer {
    max-width: 330px;
  }
}
