@media (max-width: 767.98px) {
  /*
=====================================================
                Landing & Services section
===================================================== */

  .landing {
    height: auto;
    padding-bottom: 20px;
  }

  .landing__nav {
    height: auto;
    padding: 10px 30px;
    justify-content: space-between;
  }

  .ellipse {
    width: 0;
    height: 0;
    background: none;
    line-height: normal;
    margin-right: 0;
  }

  .landing__nav .logo--extended {
    display: none;
  }

  .landing__nav__links {
    list-style-type: none;
    display: none;
    justify-content: center;
  }

  .landing__nav__links li {
    margin: 10px auto;
    text-align: center;
  }

  .landing__nav__toogle {
    display: block;
    cursor: pointer;
    color: #5e5e8b;
    font-size: 18px;
    position: absolute;
    right: 30px;
    align-items: center;
    justify-content: flex-end;
  }

  /* Added Class for JS Toogle Menu */
  .active {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .landing__content,
  .services__content {
    width: 70%;
    text-align: center;
  }

  .landing__content {
    margin: 30px auto;
    align-items: center;
  }

  .services .containerCenter {
    flex-direction: column;
    flex-wrap: wrap;
  }

  /*
=====================================================
                    People section
===================================================== */

  .people {
    flex-direction: column;
    text-align: center;
  }

  .people__network {
    width: 100%;
    background-size: contain;
  }

  /*
=====================================================
                    Video section
===================================================== */

  .video {
    text-align: center;
  }

  .video__poster,
  video {
    height: 430px;
  }
  #playpause {
    width: 90px;
    height: 90px;
  }

  #playpause i {
    line-height: 90px;
  }

  #controls {
    width: 100vw;
    height: 70px;
  }

  #controls img {
    width: 20px;
    height: 20px;
  }

  #progressBar {
    width: 200px;
  }
}
