/*
=====================================================
                        Reset
===================================================== */

* {
  margin: 0;
  padding: 0;
}

/*
=====================================================
                    Standars
===================================================== */

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* Set the standard for all sections contents */

header,
footer,
section,
p,
a {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #626780;
  text-decoration: none;
}

/* Set the standard for all sections titles */

section h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  color: #402b2b;
  margin-bottom: 30px;
}

/* Set the standard for all sections subtitles */

section h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #626780;
  margin-bottom: 15px;
}

/* Set the standard for all buttons */

button {
  color: white;
  border: 0;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  transition: all 0.5s ease-out;
}

button:hover,
button:focus,
button:active {
  border: none;
  cursor: pointer;
  outline: none;
}

/*
=====================================================
                      Layout
===================================================== */

/* Set the dimension for center the website */

.container {
  width: 85%;
  margin: 0 auto;
}

/* Utilities classes for layouts */

.no-disp {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center-y {
  align-items: center;
}

.flex-center-x {
  justify-content: center;
}
