@import "fonts.css";

/*
=====================================================
                        Reset
===================================================== */

* {
  margin: 0;
  padding: 0;
}

/*
=====================================================
                    Standars
===================================================== */

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

/* Set the standard for all sections contents */

header,
footer,
section,
p,
a {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #626780;
  text-decoration: none;
}

/* Set the standard for all sections titles */

section h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  color: #402b2b;
  margin-bottom: 30px;
}

/* Set the standard for all sections subtitles */

section h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #626780;
  margin-bottom: 15px;
}

/*
=====================================================
                    Layout Elements
===================================================== */

/* Set the dimension for center the website */

.containerCenter {
  width: 85%;
  margin: 0 auto;
}

/* Set the standard for all buttons */

button {
  color: white;
  border: 0;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  transition: all 0.5s ease-out;
}

button:hover,
button:focus,
button:active {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Purple buttons */

.purple {
  background-color: #9b9bca;
}

.purple:hover {
  background-color: #5e5e8b;
  /* box-shadow: 0px 0px 30px 0px #9b9bca; */
}

.purple:active {
  background: linear-gradient(to top, #9b9bca 5%, #5e5e8b 100%);
}

/* Red buttons */

.red {
  background-color: #fd5540;
}

.red:hover {
  background-color: #e64d3a;
}

.red:active {
  background: linear-gradient(to top, #fd5540 5%, #e64d3a 100%);
}

/* Logo */
.logo {
  text-decoration: none;
}

.logo--icon {
  font-family: "Rammetto One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.logo--extended {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #505050;
}

/* Services box */

.services__box {
  width: 260px;
  height: 250px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border: 0;
  border-bottom: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: border-width 0.5s ease-in-out;
}

.services__box:hover {
  border: 1px solid #c4c4c4;
  border-bottom: 5px solid #c4c4c4;
}

.services__box h3 {
  font-size: 22px;
}
.services__box p {
  font-size: 16px;
}

/* Question Box */

.question__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}

.question {
  color: #402b2b;
  text-align: left;

  width: 550px;
  padding: 30px 20px;
  background: #ffffff;
  border-radius: 23px;
  z-index: 1;
  transition: 0.4s;
  box-shadow: 0px 20px 40px #f5f5ff;
}

.question::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f105";
  float: right;
  margin-left: 5px;
}

.expanded {
  box-shadow: 0px 5px 10px #e0e0e0;
}

.expanded::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f107"; /* Unicode character for "minus" sign (-) */
}

.answer {
  position: relative;
  top: -10px;
  max-width: 510px;
  line-height: 70px;
  padding: 40px 20px;
  overflow: hidden;
  background: #f5f5ff;
  box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
  border-radius: 10px;
  z-index: 0;
  height: auto;
}
