@import "fonts.css";

/* Set the anchor link position for the right landing */
a.anchor {
  display: block;
  position: relative;
  top: -116px;
  visibility: hidden;
}

/*
=====================================================
                    Landing Page
===================================================== */

.landing {
  width: 100%;
  height: 737px;
  background: url("../images/webp/backgrounds/bg_home.webp");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
}

/* Navbar */

.landing__nav {
  width: 100%;
  height: 116px;
  padding: 0 30px;
  background: rgba(196, 196, 196, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  justify-content: space-evenly;
  align-items: center;
  transition: background-color 0.4s ease-out;
}

.scrolled {
  background-color: #fff;
}

.ellipse {
  width: 72px;
  height: 72px;
  margin-right: 15px;
  text-align: center;
  line-height: 72px;
  background-color: #c8c8c8;
  border-radius: 50%;
  display: inline-block;
}

/* Navbar links */

.landing__nav__links {
  list-style-type: none;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.landing__nav__links li {
  margin: 0 29px;
}

.landing__nav__toogle {
  display: none;
}

/* Links Animation */

.landing__nav__links li:not(:last-child) {
  background: linear-gradient(to right, #9b9bca, #9b9bca 50%, #5e5e8b 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  z-index: 1;
}

.landing__nav__links li:not(:last-child):hover {
  background-position: 0 100%;
}

/* Navbar Button */

.landing button {
  width: 234px;
  height: 60px;
}

/* Landing page Content */

.landing__content {
  width: 700px;
  padding: 0 10px;
  margin: auto 180px;
  text-align: left;
}

.landing__content h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 100%;
  margin-bottom: 30px;
}

.landing__content p {
  margin-bottom: 30px;
}

/*
=====================================================
                    Services section
===================================================== */

.services {
  width: 100%;
  height: auto;
  margin-bottom: 190px;
}

.services__content {
  width: auto;
  height: auto;
  margin: 95px auto 140px auto;
  text-align: center;
}

/*
=====================================================
                    People section
===================================================== */
.people {
  margin-bottom: 110px;
}

.people__content {
  margin: 20px 40px;
}

.people__network {
  width: 60%;
  height: 400px;
  background-image: url("../images/webp/people_section/people_network.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*
=====================================================
                    Video section
===================================================== */

.video__poster,
video {
  width: 100vw;
  height: 780px;
  background: none;
  background-image: url("../images/webp/backgrounds/video_poster.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#playpause {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #334b76;
  margin-top: auto;
}

#playpause i {
  line-height: 180px;
  text-align: center;
  color: white;
}

#controls {
  width: 100vw;
  height: 136px;
  background: rgba(56, 63, 79, 0.3);
  margin-top: auto;
  justify-content: space-evenly;
}

#controls img {
  width: 40px;
  height: 40px;
}

#progressBar {
  background-color: #fff;
  width: 1100px;
  height: 8px;
}
#progress {
  position: relative;
  left: 0;
  top: -13px;
  width: 65%;
  background-color: #ff0202;
  height: 8px;
  display: inline-block;
  border-radius: 0px 6px 6px 0px;
}

/*
=====================================================
                    Q&A section
===================================================== */

.questions {
  width: 100vw;
  height: auto;
  margin: 0px auto;
  position: relative;
  overflow-x: hidden;
}

.questions__title {
  margin: 200px auto 20px 165px;
}

.questions .containerCenter {
  justify-content: space-between;
}

.man {
  position: absolute;
  width: auto;
  top: 50px;
  right: 0;
  z-index: -1;
}

.man svg {
  position: absolute;
  overflow-x: hidden;
  top: -50px;
  right: -170px;
  display: block;
  width: 170%;
  animation-delay: 0.5s;
}

.man img {
  position: relative;
  top: 0px;
  right: 90px;
  width: 530px;
  height: 730px;
  z-index: 0;
  overflow-x: hidden;
}

.questions__columns__right {
  margin-top: 300px;
}

.questions__button {
  width: 550px;
  height: 90px;
  display: block;
  margin: 20px auto;
  order: 3;
  text-transform: uppercase;
}

/*
=====================================================
                    Features section
===================================================== */

.features {
  margin: 167px 0 0;
  text-align: center;
}

.features .containerCenter {
  margin: 100px auto;
}

/*
=====================================================
                    Review section
===================================================== */

.reviews {
  height: auto;
}
.reviews__background {
  position: relative;
  margin-top: -700px;
  z-index: -1;
}

.reviews__bg__user {
  margin-top: -700px;
  z-index: 1;
}

.reviews .containerCenter {
  text-align: center;
  position: relative;
  top: -650px;
  align-items: flex-end;
}

.reviews__slider {
  margin-top: 60px;
}

/*
=====================================================
                    Login section
===================================================== */
.login {
  margin-top: -400px;
}

.login__form {
  width: 708px;
  height: 566px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
  border-radius: 10px;
  margin: 50px auto 20px;
  border: 0;
}

.login__form fieldset,
label {
  border: 0;
}

.login__form fieldset {
  margin: 0 135px 0 173px;
  justify-content: center;
}

.login__form label {
  width: 95px;
  height: 38px;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #626780;
}

.login__form label:first-child {
  margin-top: 70px;
}

.login__form input {
  width: 400px;
  height: 60px;
  padding: 11px 200px 11px 40px;
  border: 1px solid #9595c9;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.5s linear;
  outline: none;
  margin-bottom: 30px;
}

.login__form input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #9d9d9d;
}

.login__form input:focus,
.login__form input:active {
  border: 2px solid #9595c9;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #626780;
}

.login__form button {
  width: 220px;
  height: 60px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.login__form p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.login__form p span {
  color: #f01f35;
}

span.login__form__validate {
  transform: translateY(-30px);
  font-size: 12px !important;
}
