/*
=====================================================
                    Text Utilities
===================================================== */

.uppercase {
  text-transform: uppercase;
}
.txt-center {
  text-align: center;
}

/*
=====================================================
                        Colors
===================================================== */

.white {
  color: #fff;
}

/* Body color */
.grey {
  color: #402b2b;
} /* Heading color */
.red {
  color: #fd5540;
} /* Red text */

/*
=====================================================
                        Layouts
===================================================== */

.no-disp {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center-y {
  align-items: center;
}

.flex-center-x {
  justify-content: center;
}
