/*
=====================================================
                    Text Utilities
===================================================== */

.uppercase { text-transform: uppercase; }

/*
=====================================================
                        Colors
===================================================== */

.white { color: #FFF; }   /* Body color */
.grey { color: #402B2B; }    /* Heading color */
.red { color: #FD5540; }    /* Red text */

/*
=====================================================
                        Layouts
===================================================== */
.flex { display: flex; }