/*
=====================================================
                    Text Utilities
===================================================== */

.uppercase { text-transform: uppercase; }

/*
=====================================================
                        Colors
===================================================== */

.white { color: #FFF; }   /* Body color */
.grey { color: #402B2B; }    /* Heading color */
.red { color: #FD5540; }    /* Red text */

/*
=====================================================
                        Layouts
===================================================== */

.no-disp { display: none; }

.siteCenter { width: 80%; margin: 0 ; }

.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-center-y { align-items: center; }
.flex-center-x { justify-content: center; }